.form-container .form-main.form-cancel{
    width: 800px;
    height: 500px;
}

.form-container .form-main .content{
    padding: 20px;
    height: auto;
    overflow: auto;
}

.form-container .form-main .content textarea{
    resize: none;
    height: 100px;
    border: 1px solid #babec5;
    border-radius: 5px;
    padding: 10px;
}

.form-container .form-main .content textarea:focus{
    border-color: #e89327;
}

.form-container .form-main .content textarea.error{
    border-color: #ff0000;
}